body {
    display: flex;
}

#navbar-admin {
    width: 280px;
    height: 100vh;
}

#table-listing {
    margin-top: 50px;
    padding: 50px;
}

#myInput{
    width: 10%;
    margin-right: 5px;
    border-radius: 5px;
}

