body {
  overflow-x: hidden;
}

a {
    text-decoration: none !important;
}

footer {
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #212529;
    color: white;
}

.imagem-footer {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

ul {
    list-style-type: none;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background-color: #d4d4d4e1;
  border-radius: 20px;
}